<form action="/" method="post">
    <div class="button-cover">
        <div class="button r" id="button-1">
            <input type="checkbox" class="checkbox" onchange="this.form.submit()"/>
            <div class="knobs"></div>
            <div class="layer"></div>
        </div>
    </div>

</form>